/* note ---> image's css located at app.css to prevent duplicates*/
.list-container {
  /* border: 1px solid blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
